[submodule "zuulGateway"]
	path = zuulGateway
	url = https://github.com/DavidMS/zuulGateway.git
[submodule "orderService"]
	path = orderService
	url = https://github.com/DavidMS/orderService.git
[submodule "eurekaServer"]
	path = eurekaServer
	url = https://github.com/DavidMS/eurekaServer.git
[submodule "phonecatalog"]
	path = phonecatalog
	url = https://github.com/DavidMS/phonecatalog.git
